
@model Book

<h1>Here is the info for your book</h1>
<h3>Title : @Model.Name</h3>
<h3>Author : @Model.Author</h3>
<h3>Title : @Model.Id</h3>
<h4>@ViewData["LocationId"]</h4>
<h4>@ViewBag.LocationId</h4>
<h4>@TempData["LocationId"]</h4>